
.table-yellow {
    background-color: #ffffff; /* Amarillo */
    color: #ffffff; /* Negro */
}
.table-yellow th, .table-yellow td {
    border: 1px solid #000; /* Bordes negros */
}
.table-yellow th {
    background-color: #000000; /* Amarillo más oscuro para encabezados */
    color: #ffffff;
}
.btn-yellow {
    background-color: #FFD700;
    color: #000;
    border: 1px solid #000;
}