<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{components/template :: cabecera('Productos')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>
    <!-- HEADER-->
    <header th:replace="~{components/template :: header}"></header>
    
    <main class="container my-5 mb-5">
        <section class="py-5 text-center">
            <h1>Nuestros productos</h1>
            <p class="lead">Descubre quiénes somos y qué hacemos.</p>
        </section>
        
        <!-- CARDS -->
        <div class="container mt-4">
            <div class="row mt-4">
                <div th:each="producto : ${productos}" class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img th:src="${producto.imagen}" class="card-img-top" alt="${producto.nombre}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${producto.nombre}"></h5>
                            <p class="card-text">
                                Precio: S./<span th:text="${producto.precio}"></span>
                            </p>
                            <p class="card-text">
                                Stock: <span th:text="${producto.stock}"></span>
                            </p>
                            <a th:href="@{/productos/detalle/{id}(id=${producto.id})}" class="btn btn-dark">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <!-- LOGIN MODAL -->
        <th:block th:replace="~{components/template :: modal1}"></th:block>
        
        
    </main>
    
    <!-- FOOTER-->
    <footer th:replace="~{components/template :: footer}"></footer>
    
    <!--SCRIPS-->
    <th:block th:replace="~{components/template :: scripts}"></th:block>
</body>

</html>